<div class="main-container">
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="display: flex; flex-direction: column; width: 600px; justify-content: center;">
            <button mat-fab extended style="font-family: Lucida Console; border-radius: 5px; width: 164px; height: 30px;">Hamza Farooq</button>
            <div style="margin-top: 10px;">
                <h2>Hey! I’m Hamza</h2>
                <h2 style="font-family: sans-serif;">I’m a{{profession}}</h2>
                <p style="font-family: sans-serif; font-size: 16px;">I am a dedicated and results-driven software engineer with over three years of experience in full-stack development, 
                    specializing in Angular, .NET, and cloud technologies. I am passionate about developing secure, efficient, and user-friendly solutions. 
                    My expertise spans web application development, test automation, and IoT-based solutions, with a strong focus on problem-solving and continuous 
                    learning in dynamic environments
                </p>
            </div>
            <div>
                <button mat-fab extended>
                    <a href="mailto:m.hamza.arif786@gmail.com" style="text-decoration: none; color: inherit;">Send Email</a>
                    <mat-icon>mail</mat-icon>
                </button>
                <div class="social-buttons">
                    <a class="social-button" href="https://github.com/hamzafarooqarif" target="_blank">
                        <button mat-fab extended color="accent">
                            <img src="assets/svg/github-mark.svg" alt="SVG Image" height="30">
                            GitHub
                        </button>
                    </a>
                    <a class="social-button" href="https://www.linkedin.com/in/hamzafarooqarif/" target="_blank">
                        <button mat-fab extended color="accent">
                            <img src="assets/svg/linkedin-mark.svg" alt="SVG Image" height="30">
                            LinkedIn
                        </button>
                    </a>
                    <a class="social-button" href="https://www.facebook.com/hamzafarooqarif" target="_blank">
                        <button mat-fab extended color="accent">
                            <img src="assets/svg/facebook-mark.svg" alt="SVG Image" height="30">
                            Facebook
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <img src="assets/images/Hamza_Farooq_Photo.jpg" alt="Portfolio Image" class="circular-image">
        </div>
    </div>
</div>
