<div class="main-container">
    <div class="portfolio-content">
        <div class="executive-summary">
            <button mat-fab extended style="font-family: Lucida Console; border-radius: 5px; width: 164px; height: 30px;">Hamza Farooq</button>
            <div style="margin-top: 10px;" class="dark-theme-text">
                <h2>Hey! I’m Hamza</h2>
                <h2 style="font-family: sans-serif;">I’m a{{profession}}</h2>
                <p style="font-family: sans-serif; font-size: 16px;">I am a dedicated and results-driven software engineer with <span class="highlighted">over four years of experience</span> in full-stack development, 
                    specializing in <span class="highlighted">Angular</span>, <span class="highlighted">.NET</span>, and <span class="highlighted">cloud technologies</span>. 
                    I am passionate about developing secure, efficient, and user-friendly solutions. 
                    My expertise spans web application development, test automation, and IoT-based solutions, with a strong focus on problem-solving and continuous 
                    learning in dynamic environments
                </p>
            </div>
            <div>
                <div class="social-buttons">
                    <a href="mailto:m.hamza.arif786@gmail.com" target="_blank">
                        <button class="social-button" mat-fab extended color="accent">
                            <img src="assets/svg/email-mark.svg" alt="SVG Image" height="30">
                            Email
                        </button>
                    </a>
                    <a href="https://github.com/hamzafarooqarif" target="_blank">
                        <button class="social-button" mat-fab extended color="accent">
                            <img src="assets/svg/github-mark.svg" alt="SVG Image" height="30">
                            GitHub
                        </button>
                    </a>
                    <a href="https://www.linkedin.com/in/hamzafarooqarif/" target="_blank">
                        <button class="social-button" mat-fab extended color="accent">
                            <img src="assets/svg/linkedin-mark.svg" alt="SVG Image" height="30">
                            LinkedIn
                        </button>
                    </a>
                    <a href="https://www.facebook.com/hamzafarooqarif" target="_blank">
                        <button class="social-button" mat-fab extended color="accent">
                            <img src="assets/svg/facebook-mark.svg" alt="SVG Image" height="30">
                            Facebook
                        </button>
                    </a>
                    <a href="https://stackoverflow.com/users/11021404/hamzafarooq" target="_blank">
                        <button class="social-button" mat-fab extended color="accent">
                            <img src="assets/svg/stackoverflow-mark.svg" alt="SVG Image" height="30">
                            Stack Overflow
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <img src="assets/images/Hamza_Farooq_Photo.jpg" alt="Portfolio Image" class="circular-image">
        </div>
    </div>
</div>
