.highlight {
    background-color: yellow;
    color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.form-container {
  margin-top: 10px;
  display: flex; 
  flex-direction: column;
}

.first-row-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.menu-mini-fab {
  display: none;
}

@media (max-width: 780px) {
  .first-row-container {
    flex-direction: column;
  }

  .menu-mat-fab {
    display: none;
  }

  .menu-mini-fab {
    display: block;
  }
}

.playback-btn {
  margin: 5px;
}

:host ::ng-deep .btn-pressed {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3),
              inset -2px -2px 5px rgba(0, 0, 0, 0.3) !important;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding-right: 0px;
}

:host ::ng-deep .mat-expansion-panel-header-description {
  margin-right: 0px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  box-shadow: 0px 5px 5px #CCC;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 0px 24px;
}

:host ::ng-deep .errorClass .mat-mdc-form-field-error-wrapper {
  padding: 0px;
}

