<div *ngIf="componentInitialized" class="main-container">
  <div id="table-container" class="table-container">
    <table>
      <thead>
          <tr *ngIf="tableData.length > 0">
            <th align="left">Index</th>
            <th align="left" *ngFor="let lang of [].constructor(numberOfLanguages); let i = index">
              {{ tableData[0][i] }}
            </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowItem of tableData | slice: 1; let i = index">
            <td [id]="'index_' + (i + 1)">{{ i + 1 }}</td>
            <td [id]="'cell_' + i + '_' + j" *ngFor="let cellItem of rowItem; let j = index" style="min-width: 140px; overflow-wrap: anywhere;">
              {{ cellItem }}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="playbackForm">
    <mat-accordion>
      <mat-expansion-panel [disabled]="true" #mep="matExpansionPanel" style="display: flex; flex-direction: column; box-shadow: 0px 5px 15px #AAA;">
        <mat-expansion-panel-header collapsedHeight="170px" expandedHeight="140px" style="display: flex; flex-direction: row; align-items: start; box-shadow: 0px -5px 20px #AAA;">
          <mat-panel-description style="height: 140px; display: flex; flex-direction: row; justify-content: end; flex-grow: 1;">
            <div style="display: flex; flex-direction: column; align-items: end;">
              <div style="width: 50%; display: flex; flex-direction: row; justify-content: end;">
                <button matTooltip="Backward Jump" class="playback-btn" mat-fab *ngIf="getButtonVisibility('backward')" [disabled]="getButtonDisabledStatus('backward')" (click)="rewindClick(); $event.stopPropagation();">
                  <mat-icon>skip_previous</mat-icon>
                </button>
                <button matTooltip="Play" class="playback-btn" mat-fab *ngIf="getButtonVisibility('play')" [disabled]="getButtonDisabledStatus('play')" (click)="playClick(); $event.stopPropagation();">
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button matTooltip="Resume" class="playback-btn" mat-fab *ngIf="getButtonVisibility('resume')" [disabled]="getButtonDisabledStatus('resume')" (click)="resumeClick(); $event.stopPropagation();">
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button matTooltip="Pause" class="playback-btn" mat-fab *ngIf="getButtonVisibility('pause')" [disabled]="getButtonDisabledStatus('pause')" (click)="pauseClick(); $event.stopPropagation();">
                  <mat-icon>pause</mat-icon>
                </button>
                <button matTooltip="Forward Jump" class="playback-btn" mat-fab *ngIf="getButtonVisibility('forward')" [disabled]="getButtonDisabledStatus('forward')" (click)="forwardClick(); $event.stopPropagation();">
                  <mat-icon>skip_next</mat-icon>
                </button>
                <button matTooltip="Stop" class="playback-btn" mat-fab *ngIf="getButtonVisibility('stop')" [disabled]="getButtonDisabledStatus('stop')" (click)="stopClick(); $event.stopPropagation();">
                  <mat-icon>stop</mat-icon>
                </button>
              </div>
              <div style="width: 100%; display: flex; flex-direction: row; justify-content: center; margin-top: 10px;">
                <mat-checkbox style="display: none;" formControlName="reversePlayback" #reverseCheckbox (change)="reverseChanged()"></mat-checkbox>
                <button matTooltip="Vertical Reverse" class="playback-btn" [ngClass]="{'btn-pressed': reverseCheckbox.checked}" mat-mini-fab (click)="reverseCheckbox.toggle(); reverseChanged(); $event.stopPropagation();" *ngIf="getButtonVisibility('reverse')" [disabled]="getButtonDisabledStatus('reverse')">
                  <mat-icon *ngIf="reverseCheckbox.checked">north</mat-icon>
                  <mat-icon *ngIf="!reverseCheckbox.checked">south</mat-icon>
                </button>
                <mat-checkbox style="display: none;" #reverseSpeechCheckbox formControlName="reverseSpeechOrder"></mat-checkbox>
                <button matTooltip="Horizontal Reverse" class="playback-btn" [ngClass]="{'btn-pressed': reverseSpeechCheckbox.checked}" mat-mini-fab (click)="reverseSpeechCheckbox.toggle(); $event.stopPropagation();">
                  <mat-icon *ngIf="reverseSpeechCheckbox.checked">west</mat-icon>
                  <mat-icon *ngIf="!reverseSpeechCheckbox.checked">east</mat-icon>
                </button>
              </div>
            </div>
            <div style="width: 45%; display: flex; flex-direction: row; justify-content: end; padding-right: 10px;">
              <button matTooltip="Toggle Menu" [ngClass]="{'btn-pressed': mep.expanded}" class="menu-mat-fab" mat-fab extended (click)="mep.expanded = !mep.expanded">
                <mat-icon>menu</mat-icon>
                Menu
              </button>
              <button matTooltip="Menu" [ngClass]="{'btn-pressed': mep.expanded}" class="menu-mini-fab" mat-mini-fab extended (click)="mep.expanded = !mep.expanded">
                <mat-icon style="margin-top: 5px;">menu</mat-icon>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="height: 450px; overflow-y: scroll;">
          <div class="form-container">
            <div class="first-row-container" style="margin-top: 10px;">
              <div style="margin-left: 5px;">
                <mat-form-field style="width: 120px; margin: 7px 10px 0px 0px;">
                  <mat-label>Starting Row</mat-label>
                  <input
                    matInput
                    type="number"
                    class="form-control"
                    formControlName="startRow"
                    (change)="refreshRowFieldsValidity();"
                    >
                  <mat-error *ngIf="playbackForm.get('startRow')?.hasError('required')">
                    Required
                  </mat-error>
                  <mat-error *ngIf="playbackForm.get('startRow')?.hasError('min')">
                    Invalid
                  </mat-error>
                  <mat-error *ngIf="!playbackForm.get('startRow')?.hasError('min') && playbackForm.get('startRow')?.hasError('max')">
                    Invalid
                  </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 120px; margin: 7px 0px 0px 10px;">
                  <mat-label>Ending Row</mat-label>
                  <input
                    matInput
                    type="number"
                    class="form-control"
                    formControlName="endRow"
                    (change)="refreshRowFieldsValidity();"
                    >
                  <mat-error *ngIf="playbackForm.get('endRow')?.hasError('required')">
                    Required
                  </mat-error>
                  <mat-error *ngIf="playbackForm.get('endRow')?.hasError('min')">
                    Invalid
                  </mat-error>
                  <mat-error *ngIf="!playbackForm.get('endRow')?.hasError('min') && playbackForm.get('endRow')?.hasError('max')">
                    Invalid
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="display: flex; flex-direction: row; align-items: center; margin-left: 10px; margin-bottom: 10px; padding-right: 10px;">
                <div>
                  <mat-checkbox formControlName="repeat" style="display: none;" #repeatCheckbox></mat-checkbox>
                  <button matTooltip="Repeat" mat-fab extended (click)="repeatCheckbox.toggle(); $event.stopPropagation();" [ngClass]="{'btn-pressed': repeatCheckbox.checked}">
                    <mat-icon *ngIf="repeatCheckbox.checked">repeat_on</mat-icon>
                    <mat-icon *ngIf="!repeatCheckbox.checked">repeat</mat-icon>
                    Repeat
                  </button>
                </div>
                <div style="margin-left: 10px;">
                  <mat-checkbox style="display: none;" formControlName="shuffle" #shuffleCheckbox></mat-checkbox>
                  <button matTooltip="Shuffle" mat-fab extended (click)="shuffleCheckboxChanged(); shuffleCheckbox.toggle(); $event.stopPropagation();" [ngClass]="{'btn-pressed': shuffleCheckbox.checked}">
                    <mat-icon *ngIf="shuffleCheckbox.checked">shuffle_on</mat-icon>
                    <mat-icon *ngIf="!shuffleCheckbox.checked">shuffle</mat-icon>
                    Shuffle
                  </button>
                </div>
              </div>
            </div>
            <div>
              <mat-checkbox formControlName="speakOnlyColumnCheck" (change)="refreshRowFieldsValidity()"></mat-checkbox>
              Speak Column
              <mat-form-field style="width: 70px;" class="errorClass">
                <input
                  matInput
                  type="number"
                  class="form-control"
                  formControlName="speakOnlyColumnVal"
                  (change)="refreshRowFieldsValidity();"
                >
                <mat-error *ngIf="playbackForm.get('speakOnlyColumnVal')?.hasError('required')">
                  Required
                </mat-error>
                <mat-error *ngIf="playbackForm.get('speakOnlyColumnVal')?.hasError('min')">
                  Invalid
                </mat-error>
                <mat-error *ngIf="!playbackForm.get('speakOnlyColumnVal')?.hasError('min') && playbackForm.get('speakOnlyColumnVal')?.hasError('max')">
                  Invalid
                </mat-error>
              </mat-form-field>
              only
            </div>
            <div class="first-row-container">
              <div style="display: flex; flex-direction: row; margin-left: 5px;">
                <mat-form-field style="width: 300px;">
                  <mat-label>Google Sheet ID</mat-label>
                  <input
                    matInput
                    class="form-control"
                    formControlName="sheetId"
                    >
                  <mat-error *ngIf="playbackForm.get('sheetId')?.hasError('required')">
                    Required
                  </mat-error>
                </mat-form-field>
                <button matTooltip="Reload Sheet" mat-fab extended [disabled]="isSpeaking || (!isSpeaking && !isStopped)" (click)="loadSheetClick()" style="margin-left: 15px; margin-top: 7px;">
                  <mat-icon>autorenew</mat-icon>
                  Reload
                </button>
              </div>
              <div>
                <button matTooltip="Save Your Changes" mat-fab extended (click)="saveClick(); $event.stopPropagation();" style="margin: 7px 10px 0px 10px;">
                  <mat-icon>save</mat-icon>
                  Save Settings
                </button>
                <button matTooltip="Clean Saved Changes" mat-fab extended (click)="deleteClick(); $event.stopPropagation();" style="margin: 7px 10px 0px 10px;">
                  <mat-icon>delete</mat-icon>
                  Clean Settings
                </button>
                <button [disabled]="isSpeaking || (!isSpeaking && !isStopped)" matTooltip="Clean & Reset to Defaults" mat-fab extended (click)="resetToDefaults(); $event.stopPropagation();" style="margin: 7px 10px 0px 10px;">
                  <mat-icon>autorenew</mat-icon>
                  Reset to Defaults
                </button>
              </div>
            </div>
            <div style="max-width: 300px; box-shadow: 2px 0px 10px #CCC; margin: 10px 0px 10px 5px; padding-top: 10px;">
              <mat-label style="margin-left: 10px;">Vocal Speed</mat-label>
              <br>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <button matTooltip="decrease" class="playback-btn" mat-mini-fab (click)="decreaseSlider('vocalSpeed'); $event.stopPropagation();">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <mat-slider [min]="vocalSpeedRange.min" [max]="vocalSpeedRange.max" step="0.1" discrete>
                    <input matSliderThumb formControlName="vocalSpeed">
                  </mat-slider>
                  <button matTooltip="increase" class="playback-btn" mat-mini-fab (click)="increaseSlider('vocalSpeed'); $event.stopPropagation();">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div>
                  <button matTooltip="Reset" class="playback-btn" style="margin-top: -10px; margin-right: 15px;" mat-mini-fab (click)="resetRangeSlider('vocalSpeed'); $event.stopPropagation();">
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div style="max-width: 300px; box-shadow: 2px 0px 10px #CCC; margin: 10px 0px 10px 5px; padding-top: 10px;">
              <mat-label style="margin-left: 10px;">In-between Delay (Column)</mat-label>
              <br>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <button matTooltip="decrease" class="playback-btn" mat-mini-fab (click)="decreaseSlider('inbetweenDelayColumn'); $event.stopPropagation();">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <mat-slider [min]="inbetweenDelayRange.min" [max]="inbetweenDelayRange.max" step="0.1" discrete>
                    <input matSliderThumb formControlName="inbetweenDelayColumn">
                  </mat-slider>
                  <button matTooltip="increase" class="playback-btn" mat-mini-fab (click)="increaseSlider('inbetweenDelayColumn'); $event.stopPropagation();">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div>
                  <button matTooltip="Reset" class="playback-btn" style="margin-top: -10px; margin-right: 15px;" mat-mini-fab (click)="resetRangeSlider('inbetweenDelayColumn'); $event.stopPropagation();">
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div style="max-width: 300px; box-shadow: 2px 0px 10px #CCC; margin: 10px 0px 25px 5px; padding-top: 10px;">
              <mat-label style="margin-left: 10px;">In-between Delay (Rows)</mat-label>
              <br>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <button matTooltip="decrease" class="playback-btn" mat-mini-fab (click)="decreaseSlider('inbetweenDelayRow'); $event.stopPropagation();">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <mat-slider [min]="inbetweenDelayRange.min" [max]="inbetweenDelayRange.max" step="0.1" discrete>
                    <input matSliderThumb formControlName="inbetweenDelayRow">
                  </mat-slider>
                  <button matTooltip="increase" class="playback-btn" mat-mini-fab (click)="increaseSlider('inbetweenDelayRow'); $event.stopPropagation();">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div>
                  <button matTooltip="Reset" class="playback-btn" style="margin-top: -10px; margin-right: 15px;" mat-mini-fab (click)="resetRangeSlider('inbetweenDelayRow'); $event.stopPropagation();">
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div style="max-width: 300px; box-shadow: 2px 0px 10px #CCC; margin: 10px 0px 25px 5px; padding-top: 10px;">
              <mat-label style="margin-left: 10px;">Volume</mat-label>
              <br>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <button matTooltip="decrease" class="playback-btn" mat-mini-fab (click)="decreaseSlider('volume'); $event.stopPropagation();">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <mat-slider min="0" max="1" step="0.01">
                    <input matSliderThumb formControlName="volume">
                  </mat-slider>
                  <button matTooltip="increase" class="playback-btn" mat-mini-fab (click)="increaseSlider('volume'); $event.stopPropagation();">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div>
                  <button matTooltip="Reset" class="playback-btn" style="margin-top: -10px; margin-right: 15px;" mat-mini-fab (click)="resetRangeSlider('volume'); $event.stopPropagation();">
                    <mat-icon>autorenew</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let _ of [].constructor(numberOfLanguages); let i = index">
              <mat-form-field style="width: 300px; margin-left: 5px;">
                <mat-label>Select Language for Column {{ i + 1 }}</mat-label>
                <mat-select [id]="'lang' + (i + 1)" [formControlName]="'lang' + (i + 1)" (selectionChange)="refreshVoiceDropdown(i + 1, true);">
                  <mat-option *ngFor="let option of masterLanguages" [value]="option.value">
                    {{ getLanguageName(option.label) }} ({{ option.label }})
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="playbackForm.get('lang' + (i + 1))?.hasError('required')">
                  Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field style="width: 300px; margin-left: 5px;">
                <mat-label>Select Voice for Language {{ i + 1 }}</mat-label>
                <mat-select [id]="'lang' + (i + 1) + 'Voice'" [formControlName]="'lang' + (i + 1) + 'Voice'">
                  <mat-option *ngFor="let option of populatedVoicesData[i]" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="playbackForm.get('lang' + (i + 1) + 'Voice')?.hasError('required')">
                  Required.
                </mat-error>
              </mat-form-field>
            </ng-container>
            <mat-slide-toggle #themSwitch formControlName="lightMode" (change)="assignTheme()">
              Switch to
              <span *ngIf="themSwitch.checked">Dark Mode</span>
              <span *ngIf="!themSwitch.checked">Light Mode</span>
            </mat-slide-toggle>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>