.highlight {
    background-color: yellow;
}

.content {
  height: 94vh; /* Ensure the viewport height is considered */
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-y: scroll;
}