<button (click)="onSpeakButtonClick()">Play</button>
<form [formGroup]="playbackForm">
  <div>
    <button mat-fab>
      <mat-icon>play_circle</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>stop</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Starting Row</mat-label>
      <input
        matInput
        type="number"
        class="form-control"
        formControlName="startRow">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ending Row</mat-label>
      <input
        matInput
        type="number"
        class="form-control"
        formControlName="endRow">
    </mat-form-field>
    <div>
      <mat-label>Vocal Speed</mat-label>
      <mat-slider min="0.1" max="2" step="0.1" discrete>
        <input matSliderThumb formControlName="vocalSpeed">
      </mat-slider>
    </div>
    <div>
      <mat-label>In-between Delay</mat-label>
      <mat-slider min="0" max="3" step="0.1" discrete>
        <input matSliderThumb formControlName="inbetweenDelay">
      </mat-slider>
    </div>
    <div>
      <mat-label>Repeat</mat-label>
      <mat-checkbox formControlName="repeat"></mat-checkbox>
    </div>
    <div>
      <mat-label>Reverse</mat-label>
      <mat-checkbox formControlName="reversePlayback"></mat-checkbox>
    </div>
    <div>
      <mat-label>Meaning-to-word</mat-label>
      <mat-checkbox formControlName="reverseSpeechOrder"></mat-checkbox>
    </div>
    <mat-form-field>
      <mat-label>Select Language for First Column</mat-label>
      <mat-select id="lang1" formControlName="lang1" (selectionChange)="refreshVoiceDropdown('lang1Voice');">
        <mat-option *ngFor="let option of languages" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="playbackForm.get('lang1')?.hasError('required')">
        Selection is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Voice for First Language</mat-label>
      <mat-select id="lang1Voice" formControlName="lang1Voice">
        <mat-option *ngFor="let option of lang1Voices" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="playbackForm.get('lang1Voice')?.hasError('required')">
        Selection is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Language for First Column</mat-label>
      <mat-select id="lang2" formControlName="lang2" (selectionChange)="refreshVoiceDropdown('lang2Voice');">
        <mat-option *ngFor="let option of languages" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="playbackForm.get('lang2')?.hasError('required')">
        Selection is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Voice for First Language</mat-label>
      <mat-select id="lang2Voice" formControlName="lang2Voice">
        <mat-option *ngFor="let option of lang2Voices" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="playbackForm.get('lang2Voice')?.hasError('required')">
        Selection is required.
      </mat-error>
    </mat-form-field>
  </div>
</form>
<div class="table-container">
    <table>
        <thead>
            <tr *ngIf="tableData.length > 0">
                <th>Index</th>
                <th>{{ tableData[0].first }}</th>
                <th>{{ tableData[0].second }}</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let item of tableData | slice: 1; let i = index">
            <td>{{ i + 1 }}</td>
            <td [ngClass]="{'highlight': isHighlighted(i, 0)}">{{ item.first }}</td>
            <td [ngClass]="{'highlight': isHighlighted(i, 1)}">{{ item.second }}</td>
        </tr>
      </tbody>
    </table>
  </div>