.highlight {
    background-color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0; /* Prevent flex growth from breaking the layout */
}